/* body */
body {
  margin-left: 2%;
  margin-right: 2%;
}

/* header */
header {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* nav */
nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* navLinks */
.navLinks:hover {
  color: blue;
}

.navLinks {
  font-family: 'Didact Gothic', sans-serif;
  text-decoration: none;
  font-size: 30px;
  color: black;
}

#navTrick {
  color: blue;
}



hr {
  border: 1px solid black; 
}


/* aboutDiv */
.aboutDiv {
  margin-bottom: 2%;
}

/* aboutDivP */
.aboutDivP {
    font-family: 'McLaren', cursive;
  text-align: center;
  font-size: 25px;
}

/* pParaentDiv */
#pParaentDiv {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 2%;
}

/* pChildDivsP */
.pChildDivsP {
    font-family: 'McLaren', cursive;
  font-size: 18px;
}

/* masterImgDiv */
#masterImgDiv {
  display: flex;
  margin-bottom: 2%;
}

/* mChildrenImgsDiv */
.mChildrenImgsDiv {
  width: 40%;
}

/* img */
img {
  width: 90%;
}

img:hover {
  background-color: black;
  cursor: pointer;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.captions {
     font-family: 'McLaren', cursive;
  margin: auto;
  max-width: 700px;
  text-align: center;
  color: black;
  margin-bottom: 5%;
  font-size: 20px;
}

/* For the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /*takes up full height*/
  height: 100%; /*Full height*/
  overflow: auto*;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 20%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

/* Close hover Button */
.close:hover {
  color: #d83f3f;
  text-decoration: none;
  cursor: pointer;
}

/* For the picmodal where the pictures will go to in the modal  */
.picModal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  height: 550px;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* Just to make it on the same
line as the footer p as well as some
styling */
.hyperlink {
   font-family: 'Didact Gothic', sans-serif;
  margin-top: 2.3%;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

/* Footer will be display flexed */
footer {
  /* margin-top: %; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Footer Hyperlink Hover Effect */
.hyperlink:hover {
  color: blue;
}


/* If the screen size is 1040px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1040px) {
  /* Turning them into columns and aligning them to the center */
  #pParaentDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  /* Increasing the font-size */
  .pChildDivsP {
    font-size: 30px;
  }


  /* masterImgDiv centering the text and moving the pics over */
  #masterImgDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 18%;
  }

  /* Increasing the size of the div containers and thus increasing the width */
  .mChildrenImgsDiv {
    width: 80%;
  }

}

@media only screen and (max-width: 1240px) {

/* Close Button */
.close {
  top: 15px;
  right: 2%;
 
}
