/* body */
body {
  margin-left: 2%;
  margin-right: 2%;
}

/* h1 */

h1 {
 font-family: 'McLaren', cursive;
 text-align: center;
}

br {
  display: block;
}

#topParagraphDiv {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 2%;
}

/* text-size */
p {
  font-size: 31px;
 font-family: 'McLaren', cursive;
}

/* mChildrenImgsDiv */
.mChildrenImgsDiv {
  width: 28%;
}

#img1:hover {
  cursor: pointer;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.captions {
  font-family: 'Didact Gothic', sans-serif;
  margin: auto;
  max-width: 700px;
  text-align: center;
  color: black;
  margin-bottom: 5%;
  font-size: 20px;
}

/* Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 20%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

/* Close hover Button */
.close:hover {
  color: #d83f3f;
  text-decoration: none;
  cursor: pointer;
}

/* For the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /*takes up full height*/
  height: 100%; Full height
  overflow: auto*;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}



/* For the picmodal where the pictures will go to in the modal  */
.picModal-content {
  margin: auto;
  margin-bottom: 2%;
  display: block;
  width: 80%;
  height: 100%;
  max-width: 700px;
  /* Used to make it so the pic won't be so stuck to the bottom */
  /* height: 550px; */
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

hr {
  margin-top: 2%;
  border: 1px solid black; 
}

.topHr {
  margin-bottom: 2%;
}

/* going to display flex */
#masterOverlayContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Used to cause a break and
create the second row */
.break {
  flex-basis: 100%;

}



/* overlayContainers */
.overlayContainers {
  position: relative;
  width: 40%;

}

/* imgs */
img {
  width: 100%;
  display: block;
}

/* overlays */
#overlay1 {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: .5s ease;
background-color: blue;
}
#overlay2 {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: .5s ease;
background-color: red;
}
#overlay3 {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: .5s ease;
background-color: gold;
}
#overlay4 {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: .5s ease;
background-color: silver;
}

/* Will cause the hovers */
#overlayContainer1:hover #overlay1{
opacity: 1;
}
#overlayContainer2:hover #overlay2 {
  opacity: 1;
}
#overlayContainer3:hover #overlay3 {
  opacity: 1;
}
#overlayContainer4:hover #overlay4 {
  opacity: 1;
}

/* Hyperlink Styling */
.overlayTexts {
  font-family: 'McLaren', cursive;
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 30%;
}

/* Hyperlink Hover */
.overlayTexts:hover {
  color: Black;
}

/* Footer & Header will be display flexed */
.mainLinks {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Just to make it on the same
line as the footer p as well as some
styling */
.hyperlink {
  margin-top: 2.3%;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: 'Didact Gothic', sans-serif;

}

/* Footer Hyperlink Hover Effect */
.hyperlink:hover {
  color: grey;
}
/* If the screen size is 1040px less*/ 
@media only screen and (max-width: 1040px) {
  
  /* nav */
  .hyperlink:hover {
    color: grey;
  }
  /* topParagraphDiv */
  #topParagraphDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* Centering the paragraph */
  p{
    text-align: center;
  }
  /* Centering hte #mChildren image */
  #mChildren1 {
    margin-left: 30%;
    width: 40%;
  }

  /* masterOverlayContainer */
  #masterOverlayContainer {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
  }

  .overlayContainers {
    width: 80%;
  }

  .overlayPics {
    margin-left: -14%;
    width: 100%;
  }

  /* overlays */
#overlay1 {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: .5s ease;
background-color: blue;
margin-left: -14%;
margin-right: 14%;
}

#overlay2 {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: .5s ease;
background-color: red;
margin-left: -14%;
margin-right: 14%;
}
#overlay3 {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: .5s ease;
background-color: gold;
margin-left: -14%;
margin-right: 14%;
}
#overlay4 {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: .5s ease;
background-color: silver;
margin-left: -14%;
margin-right: 14%;
}



}

@media only screen and (max-width: 1240px) {

/* Close Button */
.close {
  top: 15px;
  right: 2%;
 
}

}




  

